body{
    padding: 20px;
    margin: 10px;
}

div {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 300px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
    transition:all .5s ease-in-out;
    text-align: center;
    position: relative;
    align-items: center;
    transition:all 1s ease-in-out;
}
div img{
    position: absolute;
    left: 0;
    width: 320px;
    height: 180px;
    margin: 0px;
    transition:all 1s ease-in-out;
}
p{
    display: block;
    font-size: 10px;
    color: white;
    visibility: hidden;
    transition:all 1s ease-in-out;
    position: absolute;
    bottom: 0%;
    padding: 10px;
    margin: 10px;
    font-size: 8px;
}
button{
    visibility: hidden;
    background-color: black;
    color: white;
    margin: 10px;
    transition:all 1s ease-in-out;
    position: absolute;
    bottom: 0%;
    left: 30%;
    margin: 0px;
}
h3{
    visibility: hidden;
    color: white;
    background-color: black;
    opacity: 0.8;
    transition:all 1s ease-in-out;
    position: absolute;
    top: 0%;
    left: 30%;
    margin: 0px;
}
